{% extends 'base.html' %}
{% block title %}Projekty{% endblock %}
{% block content %}
<h1>Projekty</h1>
{% if request.session.get('role') in ['ADMIN','MANAGER'] %}
  <p><a class="btn" href="/projects/new">+ Nový projekt</a></p>
{% endif %}

<table class="table">
  <thead><tr><th>Název</th><th>Vlastník</th></tr></thead>
  <tbody>
    {% for p in projects %}
      <tr>
        <td><a href="/projects/{{p.project_id}}">{{ p.name }}</a></td>
        <td>
          {% if p.owner %}
            {{ p.owner.username or p.owner.email }}
          {% else %}
            -
          {% endif %}
        </td>
      </tr>
    {% else %}
      <tr><td colspan="2">Žádné projekty</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
